<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsvr.instacake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jsvr.instacake.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jsvr.instacake.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.jsvr.instacake.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsvr.instacake.MainActivity" />
        </activity>
        <activity
            android:name="com.jsvr.instacake.FeedActivity"
            android:label="@string/title_activity_feed"
            android:parentActivityName="com.jsvr.instacake.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsvr.instacake.MainActivity" />
        </activity>
        <activity
            android:name="com.jsvr.instacake.ViewProjectActivity"
            android:label="@string/title_activity_view_project"
            android:parentActivityName="com.jsvr.instacake.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsvr.instacake.MainActivity" />
        </activity>
        <activity
            android:name="com.jsvr.instacake.ViewProjectsActivity"
            android:label="@string/title_activity_view_projects"
            android:parentActivityName="com.jsvr.instacake.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsvr.instacake.MainActivity" />
        </activity>
        <activity
            android:name="com.jsvr.instacake.ViewVideosActivity"
            android:label="@string/title_activity_view_videos"
            android:parentActivityName="com.jsvr.instacake.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsvr.instacake.MainActivity" />
        </activity>
    </application>

</manifest>
